/******************************************
 * Typography styles / rules
 ******************************************/

html {
  font-family: var(--font-family-base);

  // This percentage value is the equivalent of 16px in pretty much every browser.
  // Aka, "1rem = 16px".
  // This is more 'accessible' (in terms of a user increasing their browser's font-size).
  // By contrast, setting this as a 'px' value prevents this ability.
  font-size: var(--font-size-base-percent);
	font-weight: normal;
  font-style: normal;
  color: var(--font-colour-base);
  background-color: var(--white);
}

body {
  @include font-size($font-size-base);

  // This line-height rule overrides what's been declared in the `reset.scss` file
  line-height: var(--line-height-base);
}

// Ensure character length / width is capped
h1,
h2,
h3,
p,
ul,
ol,
hr,
blockquote,
form {
  max-width: 75ch;
}

h1 {
  @include font-size(30px);
  line-height: 1.1;

    @include min-width($breakpoint-small) {
      @include font-size(36px);
    }

    @include min-width($breakpoint-medium) {
      @include font-size(48px);
    }
}

h2 {
  @include font-size(30px);

    @include min-width($breakpoint-medium) {
      @include font-size(34px);
    }

    @include min-width($breakpoint-large) {
      @include font-size(40px);
    }
}

h3 {
  @include font-size(30px);

    @include min-width($breakpoint-medium) {
      @include font-size(36px);
    }
}

h4 {
  @include font-size(24px);

    @include min-width($breakpoint-medium) {
      @include font-size(28px);
    }

    @include min-width($breakpoint-large) {
      @include font-size(32px);
    }
}

p,
ul,
ol,
blockquote,
address,
pre {
  @include font-size(18px);

    @include min-width($breakpoint-medium) {
      @include font-size(22px);
    }

    @include min-width($breakpoint-large) {
      @include font-size(24px);
    }
}

address {
  @extend %flow;
}

hr {
  border: 0;
  background-color: var(--grey-light);
  margin-top: 2rem !important;
  margin-left: 0;
  margin-right: auto;
  height: 0.1rem;
  max-width: 50rem;
}

code {
  font-family: 'Courier New', Courier, monospace;
  color: var(--green-custom);
}

// `Title` text font sizes
%title,
%t-large,
.title,
.t-large {
  @include font-size(34px);
  line-height: 1.2;

    @include min-width($breakpoint-small) {
      @include font-size(42px);
    }

    @include min-width($breakpoint-medium) {
      @include font-size(48px);
    }

    @include min-width($breakpoint-large) {
      @include font-size(54px);
    }

    @include min-width($breakpoint-x-large) {
      @include font-size(64px);
    }
}

// Medium text font size
%t-medium,
.t-medium {
  @include font-size(24px);
  line-height: 1.2;

    @include min-width($breakpoint-small) {
      @include font-size(28px);
    }

    @include min-width($breakpoint-medium) {
      @include font-size(32px);
    }

    @include min-width($breakpoint-large) {
      @include font-size(36px);
    }

    @include min-width($breakpoint-x-large) {
      @include font-size(40px);
    }
}

// Small text font size
%t-small,
.t-small {
  font-size: 80%;
  display: block;
}

// `Lead` / intro text...
.lead {
  // For the <p> element in a `lead` element
  p {
    @include font-size(24px);

      @include min-width($breakpoint-medium) {
        @include font-size(28px);
      }

      @include min-width($breakpoint-large) {
        @include font-size(32px);
      }

    // An <hr> that's a sibling of the `lead` element
    + hr {
      max-width: 90%;
      height: 0.2rem;
      background-color: var(--grey-light);
      margin: 2.5em 0 !important;
    }
  }
}

// Global page / article / post styles...
article {
  time {
    display: block;
    padding-bottom: 1em;
  }

  time {
    font-size: 0.95rem;
  }
}
