{# Setting contact form component content. (Pulls from global `map.js` data file) #}
{% set mapTitle = map.mapTitle %}
{% set mapMessageAlt = map.mapMessageAlt %}
{% set mapUrl = map.mapUrl %}

<div class="[ map ] [ flow ]">
	<h2 class="[ visually-hidden ]">{{ mapTitle }}</h2>
	<div class="[ map-fallback ] [ visually-hidden ]">
			<p>{{ mapMessageAlt }}</p>
	</div>
	<iframe title="{{ mapTitle }}" src="{{ mapUrl }}" width="1200" height="960" frameborder="0" style="border:0;" aria-hidden="false" tabindex="0" allowfullscreen></iframe>
</div>
