{#
	Homepage layout template
#}

{# Uses `base.njk` as base document (ie. extends on it) #}
{% extends "layouts/base.njk" %}

{#
	*** A `titleMissingText` variable to make sure an `h1` title is supplied ***
#}
{% set titleMissingText = '* Title text is missing *' %}

{# This block `content` relates to the same block on the `base.njk` layout file #}
{% block content %}
<h1 class="[ visually-hidden ]">Accommodation &amp; venue hire in Boston, Kwazulu Natal. From individual leisure guests to groups, backpackers, campers, bikers &amp; hikers, birthday celebrations and bull&#39;s parties.</h1>
<div class="[ grid-home ]">
	<div class="[ grid-panel ]">
			<div class="[ grid-panel ]">
					<article class="[ feature-tile ]">
							<a href="/about">
									<div class="[ feature-tile-content ]">
											<header>
													<h2 class="[ feature-title ]">About us</h2>
											</header>
											<p>The Boston T Party is a perfect spot if you need somewhere to stay or an authentic venue to hold your function.</p>
									</div>
									<img src="/assets/images/featured/homepage/feature-about-bg-01--medium.jpg"
											srcset="/assets/images/featured/homepage/feature-about-bg-01--xlarge.jpg 1900w,
															/assets/images/featured/homepage/feature-about-bg-01--large.jpg 1024w,
															/assets/images/featured/homepage/feature-about-bg-01--medium.jpg 480w"
											sizes="(min-width: 20em) 100vw"
											alt="Boston T Party hosts standing in a field."
											loading="lazy"
											decoding="async"
											class="obj-fit">
							</a>
					</article>
			</div>
			<div class="[ grid-panel ]">
					<article class="[ feature-tile ]">
							<a href="/accommodation">
									<div class="[ feature-tile-content ]">
											<header>
													<h2 class="[ feature-title ]">Accommodation</h2>
											</header>
											<p>We offer private en-suite rooms or camping with two fully equipped communal self catering kitchens.</p>
									</div>
									<img src="/assets/images/featured/homepage/feature-accommodation-bg-01--medium.jpg"
											srcset="/assets/images/featured/homepage/feature-accommodation-bg-01--xlarge.jpg 1900w,
															/assets/images/featured/homepage/feature-accommodation-bg-01--large.jpg 1024w,
															/assets/images/featured/homepage/feature-accommodation-bg-01--medium.jpg 480w"
											sizes="(min-width: 20em) 100vw"
											alt="Inside a double en-suite room."
											loading="lazy"
											decoding="async"
											class="obj-fit">
							</a>
					</article>
			</div>
	</div>
	<div class="[ grid-panel ]">
			<div class="[ grid-panel ]">
					<article class="[ feature-tile ]">
							<a href="/venue-hire">
									<div class="[ feature-tile-content ]">
											<header>
													<h2 class="[ feature-title ]">Venue hire</h2>
											</header>
											<p>Our large functions room is just a stones throw away from the dam and shaded by a beautiful Willow tree.</p>
									</div>
									<img src="/assets/images/featured/homepage/feature-venue-bg-01--medium.jpg"
											srcset="/assets/images/featured/homepage/feature-venue-bg-01--xlarge.jpg 1900w,
															/assets/images/featured/homepage/feature-venue-bg-01--large.jpg 1024w,
															/assets/images/featured/homepage/feature-venue-bg-01--medium.jpg 480w"
											sizes="(min-width: 20em) 100vw"
											alt="Venue bar area."
											loading="lazy"
											decoding="async"
											class="obj-fit">
							</a>
					</article>
			</div>
			<div class="[ grid-panel ]">
					<article class="[ feature-tile ]">
							<a href="/activities">
									<div class="[ feature-tile-content ]">
											<header>
													<h2 class="[ feature-title ]">Activities</h2>
											</header>
											<p>Whatever your outdoor fancy, there are plenty of activities on offer for you to enjoy in our beautiful surrounding area.</p>
									</div>
									<img src="/assets/images/featured/homepage/feature-activities-bg-01--medium.jpg"
											srcset="/assets/images/featured/homepage/feature-activities-bg-01--xlarge.jpg 1900w,
															/assets/images/featured/homepage/feature-activities-bg-01--large.jpg 1024w,
															/assets/images/featured/homepage/feature-activities-bg-01--medium.jpg 480w"
											sizes="(min-width: 20em) 100vw"
											alt="Person on an off-road motorbike."
											loading="lazy"
											decoding="async"
											class="obj-fit">
							</a>
					</article>
			</div>
			<div class="[ grid-panel ]">
					<article class="[ feature-tile ]">
							<a href="/gallery">
									<div class="[ feature-tile-content ]">
											<header>
													<h2 class="[ feature-title ]">Gallery</h2>
											</header>
											<p>A great way to see what's on offer is to look through our photo gallery. There are some great pics of Boston T Party and its 'local residents'.</p>
									</div>
									<img src="/assets/images/featured/homepage/feature-gallery-bg-01--medium.jpg"
											srcset="/assets/images/featured/homepage/feature-gallery-bg-01--xlarge.jpg 1900w,
															/assets/images/featured/homepage/feature-gallery-bg-01--large.jpg 1024w,
															/assets/images/featured/homepage/feature-gallery-bg-01--medium.jpg 480w"
											sizes="(min-width: 20em) 100vw"
											alt="Outside view of the main house."
											loading="lazy"
											decoding="async"
											class="obj-fit">
							</a>
					</article>
			</div>
	</div>
</div>
{% endblock %}
