/**********************************************************
 * Page header / banner styles
 **********************************************************/

.page {

  // For when the page has the generic background 'graphic'
  .page__header {
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin-bottom: 2rem;
    background-color: var(--grey-mid);

      @include min-width($breakpoint-medium) {
        padding-top: 4rem;
        padding-bottom: 4rem;
        margin-bottom: 4rem;
      }

    time {
      display: block;
      margin-top: 1rem;
    }
  }

  // For when the page has a 'banner' image
  .page__banner {
    position: relative;
    color: var(--white);
    background-color: var(--black);
    margin-bottom: 2rem;

      @include min-width($breakpoint-medium) {
        margin-bottom: 4rem;
      }

    // Applies an overlay colour tint with opacity
    &--tint {
      &::before {
        content: '';
        display: block;
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 100%;
        background-color: rgba($black, 0.2);
      }
    }

    .wrapper {
      display: flex;
      align-items: center;
      min-height: 25vh;

        @include min-width($breakpoint-large) {
          min-height: 30vh;
        }

        @include min-width($breakpoint-x-large) {
          min-height: 35vh;
        }
    }

    .title {
      position: relative;
      z-index: 2;
      text-shadow: 1px 1px 1px var(--black);
    }

    .obj-fit {
      object-position: center;
      font-family: "object-position: center;";
    }
  }
}
