{#
	Page header / banner component
	==============================
#}

{#
	*** A `titleMissingText` variable to make sure an `h1` title is supplied ***
#}
{% set titleMissingText = '* Title text is missing *' %}


{# Check to see whether `hasImage` is in component content front matter. If so use page 'banner' option... #}
{% if content.data.banner.hasImage %}
<header class="[ page__banner{% if content.data.banner.hasTint %} page__banner--tint{% endif %} ]">
	{% include "components/core/images/images.njk" %}
{% else %}
{# Otherwise render default page header... #}
<header class="[ page__header ]">
{% endif %}
	<div class="[ wrapper ]">
		{% if title %}
			<h1 class="[ title ]">{{ title }}</h1>
		{% else %}
			{# Pages need a `title` hence the reason for this fallback #}
			<h1 class="[ title ]">{{ titleMissingText }}</h1>
		{% endif %}
	</div>
</header>
