/**********************************************************
 * Header styles
 **********************************************************/

#header {
  background-color: #231f20;
  padding: 1rem 0;
  position: sticky;
  top: 0;
  z-index: 100;

  .navigation__list {
    @include font-size(18px);
  }

  // Media queries
  @include min-width(980px) {
    & > .wrapper {
      display: flex;
      align-items: center;
    }
  }
}
