/**********************************************************
 * Header styles
 **********************************************************/

#header {
  background-color: #231f20;
  padding: 1rem 0;

  .navigation__list {
    @include font-size(18px);
  }

  // Media queries
  @include min-width(800px) {
    position: sticky;
    top: 0;
    z-index: 100;
  }

  @include min-width(1060px) {
    & > .wrapper {
      display: flex;
      align-items: center;
    }
  }
}
