/**********************************************************
 * Header styles
 **********************************************************/

#header {
  background-color: #231f20;
  padding: 1rem 0;
  position: sticky;
  top: 0;
  z-index: 100;

  .navigation__list {
    @include font-size(16px);
  }

  // Media queries
  @include min-width($breakpoint-medium) {
    & > .wrapper {
      display: flex;
    }
  }
}
