.message {
  // Create `--message-background` and `--message-text` variables scoped to this class
  background: var(--message-background);
  color: var(--message-text);

  text-align: center;
  padding: 1rem;
  border-bottom: 2px solid var(--black);
  margin-block: 0;

  a {
    white-space: nowrap;
  }

  // 'Info' type message
  &--info {
    --message-text: var(--black);
    --message-background: var(--white);
  }

  // 'Alert' type message
  &--alert {
    --message-text: var(--black);
    --message-background: var(--grey-slate);
  }
}
