/**********************************************************
 * Footer styles
 **********************************************************/

#footer {
  background-color: var(--grey-light);
  padding: 0.5em 0 1.5em 0;
  /* offset-x | offset-y | blur-radius | spread-radius | color */
  box-shadow: 0 -2px 0 1px rgba($grey-dark, 0.3);

  .wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  small {
    font-size: inherit;
    flex: 1 1 100%;
    max-width: 100%;

      @include min-width($breakpoint-medium) {
        margin-right: 1rem;
      }

      @include min-width($breakpoint-large) {
        flex: 1 1 45%;
        max-width: 45%;
      }
  }

  nav {
    font-size: 0.90rem;

    ul {
      @extend %no-list;
      @include font-size(16px);
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      margin-top: 0;
      margin-bottom: 0;

      li {
        padding: 0.2em 1rem 0.2em 0;
      }
    }

    a {
      &,
      &:active,
      &:focus,
      &:hover {
        color: var(--font-colour-base);
        text-decoration: none;
      }
    }
  }
}
