<footer role="contentinfo" id="footer" aria-labelledby="site-footer--label" class="[ site-footer ]">

	{# Check if `siteMessage` is true in `_data/site.js`... #}
	{% if site.siteMessage %}
		{# Message content #}
		{% block messages %}
			{# Setting the message type (eg. "info") #}
			{% set messageType = messages.info %}
			{# Calling the message component #}
			{% include "components/global/messages/messages.njk" %}
		{% endblock %}
	{% endif %}

	<div class="[ wrapper ] [ flow ]">

		{# To help assistive technologies #}
		<h2 id="site-footer--label" class="[ visually-hidden ]">Other tertiary content and external links. eg. News, Accessibility statement and Facebook page.</h2>
		<small>Copyright &copy; 2009&ndash;<time datetime="{% year %}">{% year %}</time> {{ site.name }}. All rights reserved.</small>

		{# Pulls content from navigation.json data file #}
		<nav aria-labelledby="nav-footer--label">

			{# To help assistive technologies #}
			<h2 id="nav-footer--label" class="[ visually-hidden ]">Footer navigation</h2>

			{% for navitem in navigation.footernav %}
				{% if loop.first %}<ul aria-label="List of tertiary content pages">{% endif %}
					<li>
						<a href="{{ navitem.url }}"
							{% if navitem.external %} rel="external"{% endif %}
							{% if navitem.url in (page.url | pretty) %} aria-describedby="current-page" class="[ current ]"{% endif %}>{{ navitem.label }}</a>
					</li>
				{% if loop.last %}</ul>{% endif %}
			{% endfor %}
		</nav>

		{# Back to the top link / anchor #}
		<a href="#start">Go back to the top</a>

	</div>

	{# "Skip-to" link. Helps assistive technologies #}
	<a class="[ visually-hidden ]" href="#main">Skip to the main content.</a>

</footer>
