/**********************************************************
 * Buttons placeholder
 **********************************************************/

/// Button classes.
/// @group Buttons

a,
button,
input {
  &.button {
    display: inline-block;
    padding: 1rem 1.25rem;
    color: #fff;
    font-size: 1.25rem;
    text-decoration: unset;
    background-color: #613548;
    outline: none;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.1s ease;

      // Button `:hover` state
      &:hover {
        background-color: #db7093;
      }

      // Button `:active` state
      &:focus,
      &:active {
        background-color: #db7093;
      }

      // Button `:active` and `:focus` states
      &:active,
      &:focus {
        background-color: #db7093;
        border: 2px dotted var(--white)
      }
  }
}
