---
permalink: '/feed.xml'
hidden: true
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom" xml:base="{{ site.rootUrl }}">
	<title>{{ site.name }}</title>
	<subtitle>{{ site.metaDescription }}</subtitle>
	<link rel="self" href="{{ site.rootUrl }}{{ permalink }}" type="application/atom+xml"/>
	<link rel="alternate" href="{{ site.rootUrl }}/" type="text/html"/>
	{% if collections.post | length %}
	<updated>{{ collections.post | getNewestCollectionItemDate | dateToRfc3339 }}</updated>
	{% endif %}
	<id>{{ site.rootUrl }}</id>
	<author>
		<name>{{ site.client.name }}</name>
		<email>{{ site.client.email }}</email>
		<uri>{{ site.client.url }}</uri>
	</author>
	{% for post in collections.post | reverse %}
		{% set absolutePostUrl %}{{ site.rootUrl }}{{ post.url | pretty }}{% endset %}
		{% set lastUpdated %}{{ post.date | dateToRfc3339 }}{% endset %}
		<entry>
			<title>{{ post.data.title }}</title>
			<link rel="alternate" href="{{ absolutePostUrl }}" type="text/html"/>
			<updated>{{ lastUpdated }}</updated>
			<id>{{ absolutePostUrl }}</id>
			<content type="html" xml:base="{{ absolutePostUrl }}"><![CDATA[
				{%- if post.data.linkExternal -%}
					Original post can be viewed at: <a href="{{ post.data.linkExternal }}" rel="external">{{ post.data.linkLabel }}</a>
				{%- endif -%}
				{%- if post.data.lead -%}
					<p>{{ post.data.lead | safe }}</p>
				{%- endif -%}
				{{ post.templateContent | safe }}
				<p><a href="mailto:{{ site.client.email }}?subject=Replying%20to:%20“{{ post.data.title }}“">Reply via email</a></p>
			]]></content>
		</entry>
	{% endfor %}
</feed>
